@font-face {
  font-family: "양진체";
  src: url("https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #1a0b19, #150d2d, #162134) !important;
  color: white !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  font-family: "양진체" !important;
}

code {
  font-family: "양진체";
}

.card {
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
